{% extends "base.html" %}


{% block content %}

	<center>
		<section class="container">
			<form class='login-div border container' action="{{ url_for('user.confirm_reset_password_code', user_id=user_id, confirm_code=confirm_code) }}" method="POST">
				{{ form.csrf_token }}
				<br><br><br>
				<h1>Login</h1>
				<br><br>
				{{ form.confirm_code(class="form-control form-control-lg", type="text", placeholder="Confirm code") }}
				<center>{{ form.submit(class="btn btn-outline-secondary btn-lg") }}</a></center>
			</form>
		</section>	
	</center>

{% endblock %}
