{% extends "base.html" %}


{% block content %}

	<center>
		<section class="container">
			<form class='login-div border container' action="{{ url_for('user.reset_password_code') }}" method="POST">
				{{ form.csrf_token }}
				<br><br><br>
				<h1>Login</h1>
				<br><br>
				{{ form.email(class="form-control form-control-lg", type="email", placeholder="Email") }}
				<center>{{ form.submit(class="btn btn-outline-secondary btn-lg") }}</a></center>
			</form>
		</section>	
	</center>

{% endblock %}
